streamlit==1.25.0
streamlit-option-menu==0.3.6
matplotlib==3.4.3
scikit-learn>=0.24,<0.25
pandas==1.5.3
plotly==5.3.1
wordcloud==1.9.2
praw==7.7.1
nltk==3.6.5
pickleshare==0.7.5 
pathlib==1.0.1 
imbalanced-learn>=0.5,<0.11
